@import "styles/mixins";

.form-dates-range {
  display: flex;

  .DayPickerInput-OverlayWrapper {
    z-index: 5;
  }

  & > div {
    flex-grow: 1;
    width: 50%;

    .form-input {
      width: 100%;
    }
  }

  & > div + div {
    margin-left: 7px;
  }
}