@import "styles/colors";
@import "styles/mixins";

.app-menu {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  padding: 20px;
  width: 195px;
  background: $white;
  border-radius: 5px;
  min-height: calc(100vh - 130px);

  h5 {
    @include nav-header-text();
    margin-bottom: 25px;
  }

  ul {
    margin-bottom: 25px;

    li + li {
      margin-top: 20px;
    }

    li {
      display: flex;
      align-items: center;

      span {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid $light-gray;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        @include nav-header-text();
        padding: 0;
        margin-left: 20px;
      }

      a:hover {
        background-color: $white;
      }
    }
  }
}