
.time_9 {
  color: #FFFFFF;
  background-color: #239B56;
}

.time_10 {
  color: #0018F9;
  background-color: #89CFEF;
}

.time_11 {
  color: #B200ED;
  background-color: #E4A0F7;
}

.time_12 {
  color: #2675b5;
  background-color: #d2effe;
}

.time_13 {
  color: #008947;
  background-color: #e0f7d7;
}

.time_14 {
  color: #981088;
  background-color: #f7eb63;
}

.time_15 {
  color: #c92b5f;
  background-color: #ffe4ec;
}

.time_16 {
  color: #008080;
  background-color: #00808040;
}

.time_17 {
  color: #ffffff;
  background-color: #898aaf;
}

.time_18 {
  color: #d26719;
  background-color: #feeacc;
}

.time_19 {
  color: #d26719;
  background-color: #d2671940;
}

.time_20 {
  color: #ffffff;
  background-color: #d26719;
}

.time_21 {
  color: #ffffff;
  background-color: #52BE80;
}

.time_default {
  color: #8d3b85;
  background-color: #f5e3f9;
}