@import "styles/mixins";

.edit-schedule-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  > hr {
    margin-top: 0;
  }

  .base-form {
    display: flex;
    flex-direction: column;

    .edit-schedule-item_form-fields {
      display: flex;
      flex-direction: row;

      .base-container:first-child {
        flex-grow: 1;
      }

      .base-container:last-child {
        flex-grow: 2;

        .form-field {
          height: 100%;

          & > div {
            height: 100%;
          }
        }
      }
    }
  }
}

