@import "styles/mixins";

.tabs {
  flex-grow: 0;
  margin-bottom: 10px;

  & > ul {
    padding-top: 0;

    & > li + li {
      margin-top: 0;
    }

    & > li {
      a {
        @include nav-header-text('14px', '50px');
      }
    }
  }
}
