@import 'styles/mixins';

.base-container {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid $smoke-white;
  border-radius: 6px;

  .base-container_title {
    @include container-header-text();
    margin-left: -20px;
    width: calc(100% + 40px);
    padding-left: 10px;

    & > .tooltip-icon {
      margin-top: 2px;
    }
  }
}
