// names
$white: #FFFFFF; // rgba(255 255 255 1)
$davy-gray: #4a4a4a; // rgba(74, 74, 74, 1)
$ghost-white: #fafafa; // rgba(250, 250, 250, 1)
$black: #000000; // rgba(0, 0, 0, 0.05)
$smoke-white: #f5f5f5; // rgba(245, 245, 245, 1)
$brown-gray: #999999; // RGBA(153, 153, 153, 1)
$lighter-gray: RGBA(230, 230, 230, 0.6);
$bright-blue: #0666ff; // RGBA(6, 102, 255, 1)
$light-gray: #ececec; // RGBA(236, 236, 236, 1)
$alice-blue: #f8fcff; // RGBA(248, 252, 255, 1)
$very-light-pink: #d4d4d4; // RGBA(212, 212, 212, 1)
$dusty-gray: #9b9b9b; // RGBA(155, 155, 155, 1)

$brown-gray-light: rgba(153, 153, 153, 0.8); // rgba(153, 153, 153, 0.8)
$soft-steel: #86939e; // rgba(134, 147, 158, 1)
$evil-gray: #666666; // rgba(102, 102, 102, 1)
$whisper-gray: #eaeaea; // rgba(234, 234, 234, 1)
$light-blue: #f6fbff; // rgba(246, 251, 255, 1)
$azure: #0088cc; // rgba(0, 136, 204, 1)
$bright-blue: #0666ff; // rgba(6, 102, 255, 1)
$pale-gray: #fafbfc; //rgba(250, 251, 252, 1)
$fog-gray: #d8d8d8; // rgba(216, 216, 216, 1)
$nestea-light: rgba(124, 182, 65, 0.8); // rgba(124, 182, 65, 0.8)
$nestea: #7cb641; // rgba(124, 182, 65, 1)
$wolf-gray: #808080; //RGBA(128, 128, 128, 1)
$purple-red: #ff6f79; // RGBA(255, 111, 121, 1)
$yellow-orange: #ffb800; // RGBA(255, 184, 0, 1)
$android-green: #6bbc53;
$light-amber: #f5a623;
$red-gray: #9b9b9b;
$red-gray-dark: #363636;
$red-gray-light:#b3b3b3;
$sky-blue:#3273dc;
$alabaster: #f9f9f9; // RGBA(249, 249, 249)
$light-gray: #e6e6e6; // RGBA(230, 230, 230, 1)


// aims
$background-color: $ghost-white;
$text-headline: $davy-gray;
$text-placeholder: $brown-gray;
$text-nav: $brown-gray;
$link-hover: $bright-blue;
$line-separator: $ghost-white;
$text-table-header: $very-light-pink;
$text-active: $bright-blue;