.ic-search {
  content: url("../assets/images/ic-search.svg");
}

.ic-notifications {
  content: url("../assets/images/ic-notifications.svg");
}

.ic-profile-avatar {
  content: url("../assets/images/profile-avatar.svg");
}

.black-avatar {
  content: url("../assets/images/black-avatar.svg");
}

.ic-keyboard-arrow-down {
  content: url("../assets/images/ic-keyboard-arrow-down.svg");
}

.ic-filter-topdown {
  content: url("../assets/images/ic-filter-topdown.svg");
}

.ic-arrow-back {
  content: url("../assets/images/ic-arrow-back.svg");
}

.ic-arrow-forward {
  content: url("../assets/images/ic-arrow-forward.svg");
}

.ic-create {
  content: url("../assets/images/ic-create.svg");
}

.ic-delete {
  content: url("../assets/images/ic-delete.svg");
}

.ic-arrow-back {
  content: url("../assets/images/ic-arrow-back.svg");
}

.ic-pdf {
  content: url("../assets/images/ic-pdf.svg");
}

.ic-calendar {
  content: url("../assets/images/ic-calendar.svg");
}

.ic-today-selected {
  content: url("../assets/images/ic-today-selected.svg");
}

.ic-add {
  content: url("../assets/images/ic-add.svg");
}

.ic-add-blue {
  content: url("../assets/images/ic-add-blue.svg");
}

.ic-checked {
  content: url("../assets/images/ic-checked.svg");
}

.ic-unchecked {
  content: url("../assets/images/ic-unchecked.svg");
}
.ic-plus-green {
  content: url("../assets/images/ic-plus-green.svg");
}

.ic-plus-yellow {
  content: url("../assets/images/ic-plus-yellow.svg");
}

.ic-mail-round {
  content: url("../assets/images/ic-mail-round.svg");
}

.ic-edit-round {
  content: url("../assets/images/ic-edit-round.svg");
}

.ic-delete-round {
  content: url("../assets/images/ic-delete-round.svg");
}

.ic-insert-drive-file {
  content: url("../assets/images/ic-insert-drive-file.svg");
}

.ic-place {
  content: url("../assets/images/ic-place.svg");
}

.ic-schedule {
  content: url("../assets/images/ic-schedule.svg");
}

.ic-star {
  content: url("../assets/images/ic-star.svg");
}

.ic-question {
  content: url('../assets/images/ic-question.svg');
}
