
.form-ranks-fields {
  margin-top: 0;

  hr {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .inline-button:first-child {
    margin-top: 20px;
  }
  .inline-button + .tooltip-icon {
    display: inline-flex;
    margin-top: 8px;
  }
}
