@import "styles/mixins";

.dropdown-time-picker {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;

  ul {
    flex-grow: 1;
    max-height: 200px;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;

    li {
      button {
        height: 40px;
        width: 100%;
        border-radius: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $smoke-white;
        }
      }

      .time-picker_selected-row {
        background-color: $whisper-gray;
      }
    }

    li + li {
      margin-top: 0;
    }
  }
}